body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', Arial, sans-serif;
    background-color: #f3e9ff;
}

body, html{
  display: flex;
  height: 100%;
  width: 100%;
}
.janela {
    display: flex;
    width: 100%;
    height: 100%;
}

.header-left {
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #4B0082; 
    border-right: 3px solid #ffffff; 
    padding-top: 30px;
    padding-bottom: 30px;
}

.header-left h1 {
    color: #ffe600; 
}

.header-left a {
    text-decoration: none;
}

.hello {
    width: 100%;
    display: flex;
    justify-content: center;
}

.hello h3 {
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
}

.hello h3 span {
    font-weight: 800;
}

.btn-nav, .btn-nav-white, .btn-logout {
    width: 85%;
    text-align: center;
    border-radius: 8px;
    padding: 12px 0;
    margin: 8px 0;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
}

.btn-nav {
    color: white;
    background-color: #761edb;
}

.btn-nav-white {
    background-color: white;
    border: 3px solid #761edb;
}

.btn-nav-white h3 {
    color: #761edb;
    margin: 0;
    padding: 0;
}

.btn-logout {
    width: 70%;
    background-color: #ffffff;
    color: #4B0082; 
    border-radius: 10px;
    padding: 12px 0;
    margin-top: 40px;
}

.dash {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #7b34daa9; 
    padding: 30px 20px;
}

.dash h2 {
    color: #4b0082;
    text-align: center;
    margin-bottom: 20px;
}

#kpis {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    justify-content: center;
    color: white;
    font-weight: 600;
}

#kpis div {
    background-color: #212124;
    padding: 15px 20px;
    border-radius: 12px;
    text-align: center;
    min-width: 150px;
}

canvas {
    width: 80%;
    max-width: 700px;
    height: 350px;
    border-radius: 12px;
    background-color: white;
    padding: 15px;
    box-shadow: 0 0 10px #00000020;
    display: block;
    margin: 0 auto;
}
