@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(185, 185, 255);
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(90vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(30vh - var(--tamanho-header) - var(--tamanho-footer-simulador) - 2px);
  --tamanho-login: calc(110vh - var(--tamanho-header) - var(--tamanho-footer) - 1px);
  --tamanho-footer: 65px;
  --tamanho-footer-simulador: 10px;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

.header {
  height: var(--tamanho-header);
  border-bottom: 2px solid black;
  background-color: #7b34daa9;
  margin: 0%;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header a {
  text-decoration: none;
  color: black;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #e3b062;
}

.titulo {
  color: white;
  width: fit-content;
  font-weight: 500;
}

.header h1 {
  margin: 0;
}


.banner {
  height: 100%;
  color: black;
  background-size: cover;
  background-position: center;
  margin: 30px;
  padding-right: 220px;

}
.banner .container p {
  width: 50%;
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 1.1; 
  white-space: nowrap;
  font-weight: 700;
}


.banner-imagem {
  width: 100%;
  height: 50%; 
  margin: 0 auto;
}

.img-banner-completo {
  width: 100%;
  height: 50%;    
}


.banner .container {
  justify-content: center;
  align-items: center;
  height: 40%;
  padding: 5px;
  padding-right: 400px;
}

.intro {
    max-width: 800px;
    margin: 0 auto 40px auto;
    font-size: 18px;
}

.livro {
    display: flex;
    align-items: flex-start;
    max-width: 800px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    gap: 20px;
}

.livro img {
  width: 220px;
  height: 320px;
  object-fit: cover;
  border-radius: 8px;
}

.sinopse {
  font-size: 19px;
  line-height: 1.6;
  margin: 0;
}

.sinopse h2 {
  margin-left: 30px;
  margin-top: 30px; 
  margin-bottom: 20px;
}

.sinopse p {
  margin-top: 0; 
  text-indent: 30px;
}

.livro-direita-rainha {
  background: #bb3737ee;
  color: black;
}

.livro-esquerda-fera {
  background: #32b9cd;
}

.livro-direita-ursula {
  background: #b341e0;
}

.livro-esquerda-malevola {
  background: #5bbd5b;
}

.livro-direita-gothel {
  background: #e160d8;
}

.livro-esquerda-irmas {
  background: #5bbd5b;
}

/* FOOTER */

.footer {
  background-color: #7b34daa9;
  height: 150px;
  color: #fff;
  display: flex;
  font-size: 15px;
}

.footer .container {
  justify-content: center;
  text-align: center;
}

.footer .container .version {
  font-size: 12px;
}

/* LOGIN */
.container {
  overflow: hidden;
  max-width: 65%;
}

.login .footer {
  background-color: #000; 
  height: 100px;           
  color: #ED145B;        
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #ED145B;
}

.login {
  height: var(--tamanho-login);
  background-image: url('../assets/floresta-encantada.png');
  background-size: cover;
  background-position: center;
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 50%;
  background-color: #e5e5e5;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: palevioletred;
  flex-direction: column;
  height: fit-content;
  padding: 20px 0;
}

.card h2 {
  margin: 0;
  font-size: 30px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid #32b9cd;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.formulario select {
  border: 2px solid #32b9cd;
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #ED145B;
  width: 120px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #ED145B 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #ED145B;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* SIMULADOR */
.simulador {
  color: black;
}

.simulador .container {
  color: black;
  display: flex;  
  height: var(--tamanho-simulador);
}

/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0%   {transform: rotate(25deg)}
  25%  {transform: rotate(-25deg)}
  50%  {transform: rotate(25deg)}
  75%  {transform: rotate(-25deg)}
  100% {transform: rotate(25deg)}
}