@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(185, 185, 255);
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(90vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(30vh - var(--tamanho-header) - var(--tamanho-footer-simulador) - 2px);
  --tamanho-login: calc(110vh - var(--tamanho-header) - var(--tamanho-footer) - 1px);
  --tamanho-footer: 65px;
  --tamanho-footer-simulador: 10px;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

.header {
  height: var(--tamanho-header);
  border-bottom: 2px solid black;
  background-color: #7b34daa9;
  margin: 0%;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header a {
  text-decoration: none;
  color: black;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #e3b062;
}

.titulo {
  color: white;
  width: fit-content;
  font-weight: 500;
}

.header h1 {
  margin: 0;
}



.titulo {
    color: white;
    font-weight: 500;
    white-space: nowrap;
}

.quizz-container {
    margin: 50px auto;
    background: white;
    border: 4px solid #4b0082;
    border-radius: 20px;
    padding: 5px 30px 30px 30px;
    width: 350px;
}

#tituloVilao { 
    font-size: 26px;
    font-weight: 900; 
    color: #4b0082;
    text-align: left; 
    border-bottom: 2px solid #e3b062;
    padding-bottom: 10px;
}

.opcao {
    display: flex; 
    align-items: center;
    margin: 12px 0; 
}

.textoOpcao { 
    font-size: 18px; 
    font-weight: 500; 
    color: #333; 
    margin-left: 8px; 
    cursor: pointer;
}

.buttons {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    margin-top: 20px;
}

.buttons button { 
    padding: 12px 15px; 
    background-color: #4d00b38b; 
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px; 
    font-weight: 600; 
    width: 100%; 
    transition: background-color 0.3s;
}

.buttons button:hover {
    background-color: #6a1b9a; 
}