.container {
    display: flex;
    width: 80%;
    margin: 0%;
}

.header {
    width: 1450px;
    height: var(--tamanho-header);
    border-bottom: 2px solid black;
    background-color: #7b34daa9;
    margin: 0%;
}

.header .container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-left: 15%;
}

.agora {
    font-weight: 800;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: #e3b062;

}

.navbar a {
    padding: 0 10px;
}

.titulo {
    color: white;
    font-weight: 500;
    white-space: nowrap;
}